.mat-mdc-cell {
    vertical-align: top;
  }
  
.container {
    padding: 24px;
  }

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
  }

.bottom-right {
    position: fixed;
    left: auto;
    bottom: 24px;
    right: 24px;
  }